body {
  font-family: "Tajawal", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f8f9;
  color: #37474f;
  direction: rtl;
  text-align: right;
  line-height: 1.7;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-padding {
  padding: 80px 0;
}

.bg-light {
  background-color: #fff;
}

.section-title {
  font-size: 2.8em;
  color: #1e88e5;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fill-available;
  margin-inline: auto;
}

.section-title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #4db6ac;
}
